/*
 * 	Default theme - Owl Carousel CSS File
 */
.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 3;
  background-image: url("../img/bg/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Desctop Medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1600px) {
  .header {
    background-image: url("../img/bg/header-bg-1600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/bg/header-bg-900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("../img/bg/header-bg-600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("../img/bg/header-bg-320.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__buttons {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-search {
  margin-left: auto;
}

.header__content {
  text-align: center;
  margin-bottom: 148px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__description {
  margin-bottom: 70px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__description {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.3;
  }
}
@media (max-width: 899px) {
  .header__description {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__description {
    margin-bottom: 30px;
  }
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  width: 766px;
  margin-left: auto;
  margin-right: auto;
  /* Mobile */
  /* Mobile-XS */
}
.header__form > * + * {
  margin-left: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
    width: 370px;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__scroll {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  transition: background-color .3s ease-in;
}
.nav-icon:hover {
  background-color: #00C470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #fff;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: #000;
  transition: background-color .3s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  transition: top 0.2s linear 0.2s, background-color .3s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color .3s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color .3s ease-in, -webkit-transform 0.2s ease-in;
  background-color: #000;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-icon.nav-icon--active:hover {
  background-color: #00C470;
}
.nav-icon.nav-icon--active:hover .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active:hover .nav-icon__middle::before,
.nav-icon.nav-icon--active:hover .nav-icon__middle::after {
  background-color: #fff;
}

.search {
  position: relative;
  z-index: 9;
  margin-left: auto;
}

.search__input {
  padding: 20px 30px;
  width: 0;
  height: 60px;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  transition: width .3s ease-in;
}
.search__input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease-in;
}
.search__button:hover {
  background-color: #00C470;
}
.search__button:hover .search__button-icon {
  stroke: white;
}

.search__button-icon {
  stroke: black;
  transition: stroke .3s ease-in;
}

.search.search--visible .search__button {
  background-color: #00C470;
}
.search.search--visible .search__button .search__button-icon {
  stroke: white;
}
.search.search--visible .search__button:hover {
  background-color: #15D784;
}
.search.search--visible .search__input {
  width: 340px;
  padding-right: 70px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    width: 220px;
    padding-left: 20px;
    font-size: 14px;
  }
}

.button-circle {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s;
}
.button-circle:hover {
  background-color: #00C470;
}

.nav {
  position: fixed;
  z-index: 3;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.5;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  transition: all .2s ease-in;
}

.nav__title {
  margin-bottom: 50px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .nav__title {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.nav__list li:not(:last-child) {
  margin-bottom: 40px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .nav__list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
.nav__list li a {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s ease-in;
  /* Mobile-XS */
}
.nav__list li a:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .nav__list li a {
    font-size: 18px;
  }
}

.nav.nav--active {
  z-index: 99;
  top: 0;
  opacity: 1;
  transition: all .2s ease-in;
}

.input {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #FFFFFF;
}

.input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.input:-ms-input-placeholder {
  color: #FFFFFF;
}

.input::-ms-input-placeholder {
  color: #FFFFFF;
}

.input::placeholder {
  color: #FFFFFF;
}

.input:focus {
  outline: none;
  background-color: black;
}

.button {
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  display: inline-block;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #00C470;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.header .button {
  /* Mobile */
}
@media (max-width: 899px) {
  .header .button {
    width: 100%;
  }
}

.button:hover {
  background-color: #00a75f;
}

.button:focus {
  outline: none;
  background-color: #007e47;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.title--white {
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.subtitle--white {
  color: #fff;
}

.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
    margin-top: 40px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
  /* Pixel Perfect */
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 15px;
  /* Pixel Perfect */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    min-height: 48px;
    margin-bottom: 10px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("../img/bg/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Desctop Medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.section-cta__content {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  text-align: center;
}
.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile-XS */
}
.section-cta__title .bold {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-1600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/bg/cta-bg-900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-320.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.section-tasks__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.section-tasks__row > * {
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}
.section-tasks__content {
  margin-top: 14px;
  /* Pixel Perfect */
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}
.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}
.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}
.section-tasks__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
.section-tasks__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.71;
  }
}
.section-tasks__image {
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__image {
    width: 256px;
  }
}
@media (max-width: 899px) {
  .section-tasks__image {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__image {
    margin-bottom: 10px;
    width: 100%;
  }
  .section-tasks__image img {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.section-focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  /* Mobile */
  /* Mobile-XS */
}
.section-focus__row > * {
  flex-shrink: 0;
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
.section-focus__content {
  width: 470px;
  margin-top: -65px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}
.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}
.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}
.section-focus__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
.section-focus__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.71;
  }
}
.section-focus__image {
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__image {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__image {
    width: 170px;
  }
  .section-focus__image img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .section-focus__image {
    width: 100%;
  }
  .section-focus__image img {
    max-width: 100%;
  }
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("../img/bg/price-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Desctop Medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.section-price__content {
  position: relative;
  z-index: 2;
}
.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}
.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}
.section-price__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
}
.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    margin-top: 30px;
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-top: -30px;
  }
}
@media (max-width: 1600px) {
  .section-price {
    background-image: url("../img/bg/price-bg-1600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-price {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/bg/price-bg-900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-price {
    padding-bottom: 40px;
    background-image: url("../img/bg/price-bg-600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-price {
    padding-top: 40px;
    background-image: url("../img/bg/price-bg-320.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.package {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-align: center;
}
.package--special {
  background-color: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background-color: rgba(0, 0, 0, 0.1);
}

.package__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 38px;
  /* Pixel Perfect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__period {
  display: inline-block;
  padding: 6px 18px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__list {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 53px;
  /* Pixel Perfect */
  color: #fff;
}

.package__list-item {
  margin-bottom: 22px;
  /* Pixel Perfect */
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-outline {
  padding: 21px 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background-color: transparent;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s;
}

.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}

.button-outline:focus {
  outline: none;
  background-color: #000;
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
  cursor: pointer;
  transition: .3s;
}

.button-solid:hover {
  background-color: #000;
  color: #fff;
}

.button-solid:focus {
  outline: none;
  background-color: #2f2f2f;
  color: #fff;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.slider {
  position: relative;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  background-color: #E1E1E1;
  border-radius: 50%;
  border: none;
}
.slider__pagination-item:not(:last-child) {
  margin-right: 10px;
}
.slider__pagination-item--active {
  background-color: #00C470;
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 16px;
  /* Pixel Perfect */
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.slider-item__author-description {
  font-weight: 500;
  font-size: 16px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .slider-item__author-description {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

.owl-theme div.owl-nav button.owl-prev, .owl-theme div.owl-nav button.owl-next {
  position: absolute;
  top: 53px;
  width: 54px;
  height: 54px;
  background-color: #f5f5f5;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 50%;
  cursor: pointer;
  /* Mobile-XS */
}
.owl-theme div.owl-nav button.owl-prev:hover, .owl-theme div.owl-nav button.owl-next:hover {
  background-color: #00C470;
}
@media (max-width: 599px) {
  .owl-theme div.owl-nav button.owl-prev, .owl-theme div.owl-nav button.owl-next {
    display: none;
  }
}
.owl-theme div.owl-nav button.owl-prev {
  background-image: url("../img/arrows/arrow-left.svg");
  left: -100px;
}
.owl-theme div.owl-nav button.owl-prev:hover {
  background-image: url("../img/arrows/arrow-left-light.svg");
}
@media (max-width: 949px) {
  .owl-theme div.owl-nav button.owl-prev {
    left: -84px;
  }
}
.owl-theme div.owl-nav button.owl-next {
  background-image: url("../img/arrows/arrow-right.svg");
  right: -100px;
}
.owl-theme div.owl-nav button.owl-next:hover {
  background-image: url("../img/arrows/arrow-right-light.svg");
}
@media (max-width: 949px) {
  .owl-theme div.owl-nav button.owl-next {
    right: -84px;
  }
}
.owl-theme div.owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  margin-top: 40px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  /* Mobile */
}
.owl-theme .owl-dots button.owl-dot {
  width: 14px;
  height: 14px;
  background-color: #E1E1E1;
  border-radius: 50%;
  border: none;
}
.owl-theme .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}
.owl-theme .owl-dots button.owl-dot.active {
  background-color: #00C470;
}
.owl-theme .owl-dots button.owl-dot:hover {
  background-color: #d0d0d0;
}
@media (max-width: 899px) {
  .owl-theme .owl-dots {
    margin-top: 30px;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #1A1A1A;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
.footer__nav-item:not(:last-child) {
  margin-right: 50px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.footer__nav-item:hover {
  color: #15D784;
}

.footer__social {
  display: -webkit-box;
  display: flex;
}

.footer__social-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  transition: .3s;
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .footer__social-item:not(:last-child) {
    margin-right: 20px;
  }
}
.footer__social-item:hover {
  background-color: #00C470;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.footer__copyright p + p {
  margin-top: 15px;
}
.footer__copyright span {
  font-weight: 700;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */