.package {
    display: flex;
    flex-direction: column;

    // width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;

    text-align: center;

    &--special {
        background-color: rgba(48, 79, 254, 0.95);

        & .package__title {
            color: #fff;
        }

        & .package__period {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.package__header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 38px; /* Pixel Perfect */

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B2B2B2;
}

.package__price {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
}

.package__period {
    display: inline-block;
    padding: 6px 18px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.package__list {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 53px; /* Pixel Perfect */

    color: #fff;
}

.package__list-item {
    margin-bottom: 22px; /* Pixel Perfect */

    &:last-child {
        margin-bottom: 0;
    }
}

.package__button {
    margin-top: auto;
}